<footer class="footer">
  <small>
    this is footer.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.sohu.com">sohu</a></li>
    </ul>
  </nav>
</footer>